/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.btn{
  border-style: none;
  font-size: 30px;
  color: white;
}

.purple{
  margin-left: 38px;
}
.storage{
  margin-left: 40px;
}
.color{
  font-weight: 500;
  font-size: 20px;
}
.card{
  border-style: none;
}
.containe{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  
 
  
 
}

.summary{
  

  margin-left: 720px;
  text-align: center;
  font-weight: 800;
  width:50vh;

  background-color: rgb(202, 198, 191);
}
.table{
  font-size: 30px;
  font-weight: 500;
  align-items: center;
  padding-left: 20px;
  margin-left: 10px;
  width:160vh;
  
 
}

.bill{
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
  width: 80vh;

  

}
.check{
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
 

  

}
.last{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 800;
  width: 90vh;
  
  
}
